
/*
 * Blended table's specific styles
 */

/* #blended th, #blended td {
    border: none;
} */

/* Synchronous subject columns */
#blended tr td:nth-child(2),
#blended tr td:nth-child(6),
#blended tr td:nth-child(7) {
    background-color: pink;
}

/* Asynchronous subject columns */
#blended tr td:nth-child(3),
#blended tr td:nth-child(4) {
    background-color: #4bb4de;
}

/* these rows just need to be this color */
#blended tr:nth-child(4) td,
#blended tr:nth-child(9) td,
#blended tr:nth-child(12) td,
#blended tr:nth-child(15) td {
    background-color: white;
}

/* these cells and collumns just need to be this color */
#blended .bg-grey,
#blended tr td:nth-child(1),
#blended tr td:nth-child(5)
{
    background-color: #cccccc !important;
}
