/*
 * General table styles
 * Background colors placed at the end
 * due to order
 */

:root {
    --sync-color:  #e06666;
    --async-color: #6d9eeb;
    --onsite-color:#6aa84f;
    --bg-color:    #b7b7b7;
    --bg-color-alt:#999999;
}

table {
    color: white;
}

th, td {
    border: none;
}


/*
 * Mode columns
 */

 /* Synchronous subject columns */
#blended tr td:nth-child(2),
#blended tr td:nth-child(6),

#hybrid tr td:nth-child(2) {
    background-color: var(--sync-color);
}

/* Asynchronous subject columns */
#blended tr td:nth-child(3),
#blended tr td:nth-child(4),
#blended tr td:nth-child(5),

#hybrid tr td:nth-child(6) {
    background-color: var(--async-color);
}

/* Onsite subject columns */
#hybrid tr td:nth-child(3),
#hybrid tr td:nth-child(4),
#hybrid tr td:nth-child(5) {
    background-color: var(--onsite-color);
}


/*
 * Default table background colors
 */

/* Normal color */
table tr:nth-child(even),

/* these specific rows just need to be this color */
#blended tr:nth-child(4) td,
#blended tr:nth-child(12) td,
#hybrid tr:nth-child(4) td,
#hybrid tr:nth-child(12) td {
    background-color: var(--bg-color);
}

/* Alternate normal color */
table tr:nth-child(odd),

/* these specific rows just need to be this color */
#blended tr:nth-child(9) td,
#blended tr:nth-child(15) td,
#hybrid tr:nth-child(9) td,
#hybrid tr:nth-child(15) td {
    background-color: var(--bg-color-alt);
}
