html {
    display: block;
    font-family: Arial;
}


/* basic classes */
.center {
    text-align: center;
}


/* Page Structure */
#main {
    margin: 0 auto;
    max-width: 800px;
}

#footer {
    font-size: 18px;
    margin-top: 10px;
}

#links {
    text-align: center;
}

#navbar {
    text-align: center;
    margin: 5px 0 10px;

    font-size: 20px;
}

#navbar * {
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
}

#navbar *:hover {
    color: rgba(0, 0, 0, 1);
}


/* <div> Container for the button and links */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 5px;

    box-shadow: 0px 0px 5px rgb(170, 170, 170);
    border: 1px solid grey;
    border-radius: 3px;

    user-select: none;
    /* cursor: pointer; */

    font-size: 20px;
}

/* Dropdown button to activate container */
.dropdown-button {
    padding: 7px;
    text-align: center;
}

/* Dropdown links container */
.dropdown-contents {
    display: none;      /* 'block' to show */
    z-index: 1;
    position: absolute;
    width: max-content;

    border: 1px solid grey;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 5px grey;
}

/* Items inside the Dropwdown container */
.dropdown-contents * {
    text-align: left;
    display: block;
    padding: 10px;

    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

/* Display dropdown menu when hover on dropdown button */
.dropdown:hover .dropdown-contents {
    display: block;
}

.dropdown:focus, .dropdown-contents *:hover {
    background-color: #ddd;
}

.main-page {
    border-bottom: 1px solid grey;
}

/* Tables for Schedule page */
table {
    text-align: center;
    border-collapse: collapse;
    white-space: pre-line;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}
